@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617;
  margin: 0;
  padding: 0;
  /* Hide Scrollbar for Firefox, IE, Edge */
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

/* Hide Scrollbar for Chrome, Safari, Opera */
body::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

#root {
  width: 100%;
  height: 100%;
}
